
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* variables */

:root{
    --dark-header-color:hsl(0,0%,11%);
    --main-title:2.0rem;
    --swiper-pagination-color: #f39c12;
    --swiper-navigation-size: 18px;
    --swiper-navigation-color: #424242;
    --swiper-pagination-bottom: 58px;
}


/* General Settings */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a{
    color: rgb(67, 67, 67);
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: whitesmoke;
    transition: all 0.3s;
    overflow: hidden;
}

p{
    color: #292c35;
      color: rgb(87, 87, 87);  
}

.btn{
    padding: 10px 14px;
    background-color: rgb(62, 62, 205);
    color: white;
    border-radius: 5px;
    border: none;
}

h5{
    color: #f39c12 !important;
}

h3{
    color:hsl(228, 38%, 25%);
    border-bottom: 2px solid hsla(230, 38%, 25%, 0.277);
    padding-bottom: 5px;
}

/* theme toggle button */

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bxs-moon {color: #f1c40f;}
  
  .bxs-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
    
  .support {
      position: absolute;
      right: 20px;
      bottom: 20px;
  }
  
  .support a {
    color: #292c35;
    font-size: 32px;
    backface-visibility: hidden;
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .support a:hover{
    transform: scale(1.1);
  }


  /* ------------------------------------------------------------- */

  .backShadow{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(149deg, rgba(255,255,255,0.1657913165266106) 0%, rgba(55,54,54,0) 59%);
    width: 100%;
    height: 500px;
    z-index:-1;
  }

  /* ------------------------------------------------------------- */

/* Header */

.header__placeholder{
    width: 100%;
    height: 71px;
    background-color: var(--dark-header-color);
}

header{
    background-color: var(--dark-header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 12px 20px;
    width: 100%;
    z-index: 10;
    border: none;
    max-width:2000px;
    margin: 0px auto 0px auto;
}

@keyframes flow {
    from {top: -100px;}
    to {top: 0;}
}


header.dragging{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    border-bottom: 2px solid gainsboro;
    animation: flow 0.3s ease-in-out;
}

header.dragging .header__navbar .bottom__menu{
    top: calc(100vh - 100px);
    padding: 24px 40px;
    width: 300px;
    height: 85px;
}

.header__logo{
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    gap: 2px;
    align-items: center;
}

.header__logo.dragging{
    color: rgb(62, 93, 150);
}

.header__navbar .bottom__menu{
    position: fixed;
    bottom: 10px;
    left: 150%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 24px 40px;
    background-color: white;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.header__navbar .bottom__menu.showing{
    left: 50%;
}

.header__navbar .bottom__menu li a{
    text-align: center;
    line-height: 43px;
    border-radius: 100%;
    display: block;
    width: 40px;
    height: 40px;
}

.header__navbar .bottom__menu li a:is(.active){
    transition: 0.3s; 
    width: 40px;
    border-radius: 100%;
    background-color: rgb(44, 82, 208);
    color: white;
    width: 40px;
    height: 40px;
}

.header__navbar .top__menu li a:is(.active){
    transition: 0.3s; 
    color: dodgerblue;
    width: 40px;
    height: 40px;
}

.header__buttons{
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 0px;
}

.menu__toggler{
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 2.4rem;
    height: 50px;
}

.menu__toggler.dragging{
    color: #292c35;
}

.menu__btn{
    transition: 0.3s;
}

.menu__btn:is(.active){
    transform: scale(1.4);
}


.top__menu{
    display: flex;
    color: whitesmoke;
    gap: 1rem;
    padding: 14px 10px;
}

.top__menu a{
    color: whitesmoke;
    font-weight: 400;
    z-index: 2000 !important;
    cursor: pointer !important;
}

.top__menu a.dragging{
    color:#292c35;
}

.top__menu a.active{
    color: dodgerblue;
}

  /* ------------------------------------------------------------- */

  /* hero section */

.hero__wrapper{
    background-color: var(--dark-header-color);
}

.hero{
    z-index: 2;
    background-color: var(--dark-header-color);
    color: whitesmoke;
    padding: 40px 30px 0px 30px;
    margin-top: -1px;
    max-width: 2000px;
    margin: -1px auto 0px auto;
}

.hero__title{
    margin-bottom: 20px;
    font-size: var(--main-title);
}

.hero__text{
    font-weight: 200;
    margin-bottom: 20px;
    color:whitesmoke;
}

.hero__search__bar{
    
    padding:10px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    margin-bottom: 30px;
}


.hero__search__input{
    z-index: 5;
    padding: 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.search__location__icon{
    color: rgb(44, 82, 208);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.search__btn{
    z-index: 5;
    padding: 14px 24px;
}

.hero__infos{
    display: flex;
    justify-content: space-around;
}

.hero__infos span{
    font-size: 1.7rem;
    font-weight: 300;
    color: #f39c12;
}
.hero__infos h3{
    font-size: 1.8rem;
    color: whitesmoke;  
}
.hero__infos p{
    font-weight: 200;
    color: rgb(209, 209, 209);
}

.hero__image__container{
    position: relative;
    background-color: var(--dark-header-color);
    height:360px;
    
}

.hero__image__border{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, whitesmoke 12%, rgba(201,201,201,1) 19%, rgba(120,120,120,1) 24%, rgba(85,85,85,1) 29%, rgba(65,63,63,1) 35%, rgba(55,54,54,1) 41%, rgba(48,48,48,1) 100%);width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 145px 145px 20px 20px;
    padding: 10px 10px;
    top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    max-width: 600px;
}

.hero__image__div{
    height: 350px;
    background-image: url("../img/home.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 145px 145px 20px 20px;
    background-position: bottom;
    
}



/* ------------------------------------------------------------------------ */

/* brands logo section */


.brands{
    margin: 70px auto 0px auto;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
}
.brands img{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    opacity: 30%;
}

/* ------------------------------------------------------------------------ */

/* popular residence section */

.residences{
    padding: 30px;
    padding-top: 30px;
    margin-top: 10px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.residences__carousel{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 20px;
}

.a_residence{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}


.residance__info{
    margin-top: 20px;
}

.residance__info p:first-child{
    font-size: 1.6rem;
    font-weight: 500;
    color: #3e4043;
}

.residance__info p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 600;
}
.residance__info p:nth-child(3){
    font-size: 0.9rem;
    font-weight: 300;
}

.residance__info span{
    color: #f39c12;
}

.a_residence img{
    width: 100%;
    min-width: 275px;
    border-radius: 20px;
}

.swiper-pagination{
    display: block;
    position: absolute;
    
}

.swiper-button-prev{
    position: absolute;
    top: 22px;
    left: calc(50% - 100px);
    border-radius: 10px;
    padding: 24px;
    color: #292c35;
    box-shadow: rgba(36, 36, 36, 0.2) 0px 7px 29px 0px;
    z-index: 40 !important;
}
.swiper-button-next{
    position: absolute;
    top: 22px;
    left: calc(50% + 50px);
    border-radius: 10px;
    padding: 24px;
    color: #292c35;
    box-shadow: rgba(36, 36, 36, 0.2) 0px 7px 29px 0px;
}

/* ------------------------------------------------------------------------ */

/* About Us */

.about__us{
    padding: 30px;
    max-width: 1600px;
    margin: 0px auto;
}

.secondary__image{
    width: 280px;
    height: 350px;
    background-image: url("../img/value.jpg");
    background-size: cover;
    border-radius: 150px 150px 40px 40px;
    margin: 0px auto 40px auto;
    border: 14px solid rgba(235, 235, 235, 0.907);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

.about__us .parag{
    margin-top: 20px;
    font-size: 0.9rem;
}

.value__list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.a__value__container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    z-index: 1;
    padding: 15px 15px 20px 15px;
}

.secret__parag{
    padding: 0px 34px 0px 34px;
    font-size: 0.8rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 0px;
}

.secret__parag.active{
    padding: 20px 34px 50px 34px;
    height: 100px;
}

.a__value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    gap: 10px;
    height: 100%;
}

.value__icon{
    background-color: rgb(214, 227, 251);
    font-size: 2rem;
    border-radius: 5px;
    padding: 5px;
    color: rgb(17, 76, 178);
}

.value__parag{
    font-size: 0.75rem;
    line-height: 40px;
    height:40px;
    font-weight: 500;
    color:hsl(228, 38%, 25%);
    width: 75%;

}

.value__btn{
    background-color: rgb(206, 220, 245);
    border: none;
    font-size: 1.6rem;
    color: rgb(17, 76, 178);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 28px;

}
.down__button{
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.down__button.active{
    transform: rotate(180deg);
}

/* ------------------------------------------------------------------------ */

/* Contuct Us */

.contuctUs{
    padding: 100px 30px 10px 30px;
    max-width: 1600px;
    margin: 0px auto 0px auto;
}

.contuct__image{
    width: 280px;
    height: 350px;
    background-image: url("../img/popular4.jpg");
    background-size: cover;
    border-radius: 150px 150px 40px 40px;
    margin: 0px auto 40px auto;
    border: 14px solid rgba(235, 235, 235, 0.907);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contuctUs .parag{
    padding-top: 20px;
    font-size: 0.9rem;
}

.contact__grid{
    width: 100%;
    margin-top:60px;
    display: grid;
    grid-template-columns:  1fr 1fr ;
    gap: 20px;
}


.contact_grid__box{
    width: 100%;
    border: 2px solid slategray;
    padding: 15px;
    border-radius: 5px;
}

.grid_box_upper i{
    font-size: 1.6rem;
    color:hsl(230,50%,58%);

}

.grid_box_upper{
    display: flex;
    align-items: center;
    gap:14px;
    margin-bottom: 15px;
    color: rgb(46, 51, 57);
}

.grid_box_button{
    width: 100%;
    padding: 15px;
    background-color: rgba(116, 116, 116, 0.067);
    font-size: 0.7rem;
    color: hsl(230,50%,58%);
    font-weight: 600;
    border: none;
}

.grid_box_upper p{
    font-size: 0.65rem;
}
.grid_box_upper h4{
    font-size: 0.9rem;
    font-weight:600;
}

/* ------------------------------------------------------------------------ */

/* Get Started */

.getStarted{
    padding: 30px;
    margin-top: 40px;
    max-width: 800px;
    margin: 40px auto;
    
}

.getStarted h2{
    font-size: 1.2rem;
    color: #292c35;
}

.getStarted__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000000a;
    border: 5px solid #00000021;
    gap: 20px;
    padding: 50px 30px;
    border-radius: 20px;
    text-align: center;
}

.getStarted button{
    margin-top: 5px;
    padding: 20px 35px;
    border: none;
    background-color: hsl(230,50%,58%);
    color: whitesmoke;
    border-radius: 5px;
}

/* ------------------------------------------------------------------------ */

/* Footer */

.footer{
    padding: 30px;
    max-width: 1600px;
    margin: 10px auto 0px auto;
}

.footer__header{
    font-size: 1.2rem;
    color: hsl(230,50%,58%);
    margin-bottom: 10px;
    max-width: 800px;
    margin: 0px auto;

}

.footer__grid{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 40px;
}

.footer__grid h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.socialMedia{
    display: flex;
    font-size: 1.8rem;
    gap: 15px;
}

.footer_copyright{
    padding: 90px 30px 80px 30px;
    text-align: center;
}

/* ------------------------------------------------------------------------ */

/* Breakpoints */

@media only screen and (max-width: 600px) {
    .menu__toggler{
        display: block;
    }
    .top__menu{
        display: none;
    }
    h5{
        font-size: 1.2rem;
    }
    h3{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.rem;
    }
    .contact__us__left .parag{
        font-size: 0.8rem !important;
    }
    .about__us__right .parag{
        font-size: 0.8rem !important;
    }
    .value__parag{
        font-size: 0.7rem;
    }
    button{
        font-size: 1rem;
    }
    .top__menu a{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 600px) {
    .menu__toggler{
        display: none;
    }

    .top__menu{
        display: flex;
        font-size: 0.8rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .top__menu{
        gap: 1.8rem;
    }
    .hero{
        display: flex;
        gap: 80px;
        padding-bottom: 30px;
    }
    .hero__left{
        width: 50%;
    }
    .hero__image__container{
        width: 50%;
        bottom: -110px;
        height: 450px;
        background-color: transparent;
    }

    .hero__image__border{
        box-shadow: none;
        position: static;
        width: 100%;
        margin-left: 50%;
        margin-top: -40px;
    }
    .hero__image__div{
        height: 450px;
    }
    
    .hero__title{
        font-size: 3rem;
    }
    .hero__text{
        font-size: 1.2rem;
    }
    .hero__search__input{
        font-size: 1.2rem;
    }
    .hero__image__container{   
        bottom: -170px;
    }
    p{
        font-size: 1.2rem;
    }
    .contact__us__left .parag{
        font-size: 1.1rem !important;
    }
    .about__us__right .parag{
        font-size: 1.1rem !important;
    }
    .value__parag{
        font-size: 1rem;
    }
    button{
        font-size: 1.2rem;
    }
    .top__menu a{
        font-size: 0.8rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .brands{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hero__image__container{
        width: 50%;
        bottom: -110px;
        height: 550px;
        background-color: transparent;
    }
    .hero__image__div{
        height: 550px;
    }
    .about__us{
        display: flex;
        gap: 20px;
    }
    .secondary__image{
        width: 420px;
        height: 520px;
        margin-top: 80px;

    }    
    .about__us__right{
        width: 60%;
    }
    .contuctUs{
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;
    }
    .contact__us__left{
        width: 60%;
    }
    .contuct__image{
        width: 420px;
        height: 520px;
        margin: 30px auto;
    }
    .footer__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero__image__div{
        height: 600px;
    }
    .hero__image__container{
        width: 50%;
        bottom: -50px;
        height: 550px;
        background-color: transparent;
        padding: 0px;
    }
    .hero__title{
        font-size: 4rem;
    }
    .hero__text{
        font-size: 1.4rem;
    }
    .hero__search__input{
        font-size: 1.6rem;
    }
    .hero__image__container{   
        bottom: -110px;
    }
    h5{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.4rem;
    }
    .contact__us__left .parag{
        font-size: 1.3rem !important;
    }
    .about__us__right .parag{
        font-size: 1.3rem !important;
    }
    .value__parag{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.4rem;
    }
    .top__menu a{
        font-size: 1rem;
    }
}